db
incremental_db
output_files
simulation
*.v.bak
*.qpf
*.qsf
*.qws
*.rpt
software/Listings
software/Objects
software/*.hex
software/*.txt
software/*.uvguix.14551
software/*.Administrator
software/*.uvoptx

